@using Diana.Models
@model List<Slider>
@{
    ViewData["Title"] = "Slider";
}
@section styles{
    <link href="~/admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}
@section scripts{
    <script src="~/admin/js/demo/datatables-demo.js"></script>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Sliders</h6>
        <a href="/Admin/Slider/Create" class="btn btn-outline-success">Create</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Image</th>
                    <th>Position</th>
                    <th colspan="2">Action</th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Title</td>
                            <td>@item.Text</td>
                            <td><img width="200" src="@item.ImageUrl" /></td>
                            <td>@(item.IsLeft == true ? "left" : item.IsLeft == false ? "right" : "middle")</td>
                            <td class="text-center"><a class="btn btn-outline-info" href="#">Update</a></td>
                            <td class="text-center"><a class="btn btn-outline-danger" href="#">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>