@using Diana.Helpers
@using Diana.Models
@inject LayoutService service;
@{
    Setting setting = await service.GetSettingsAsync();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title</title>

    <!--== Favicon ==-->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800" rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--== Headroom CSS ==-->
    <link href="~/assets/css/headroom.css" rel="stylesheet" />
    <!--== Animate CSS ==-->
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <!--== Font Awesome Icon CSS ==-->
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--== Bardy Icon CSS ==-->
    <link href="~/assets/css/bardy.icon.css" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="~/assets/css/swiper.min.css" rel="stylesheet" />
    <!--== Fancybox Min CSS ==-->
    <link href="~/assets/css/fancybox.min.css" rel="stylesheet" />
    <!--== Slicknav Min CSS ==-->
    <link href="~/assets/css/slicknav.css" rel="stylesheet" />
    <!--== Aos Min CSS ==-->
    <link href="~/assets/css/aos.min.css" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    @await RenderSectionAsync("styles", false)
    <style>
        .user-menu .title svg{
            width:30px;
            height:30px;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!--wrapper start-->
    <div class="wrapper">

        <!--== Start Preloader Content ==-->
        <div class="preloader-wrap">
            <div class="preloader">
                <span class="dot"></span>
                <div class="dots">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!--== End Preloader Content ==-->
        <!--== Start Header Wrapper ==-->
        <header class="header-area header-default sticky-header">
            <div class="container">
                <div class="row align-items-center justify-content-between position-relative">
                    <div class="col">
                        <div class="header-logo-area">
                            <a href="index.html">
                                <img class="logo-main" src="~/@setting.Logo" alt="Logo" />
                                <img class="logo d-none" src="~/assets/img/logo-light.png" alt="Logo" />
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="header-navigation-area">
                            <ul class="main-menu nav">
                                <li>
                                    <a href="#/"><span>Home</span></a>
                                </li>
                                <li>
                                    <a href="#/"><span>Shop</span></a>
                                </li>
                                <li>
                                    <a href="#/"><span>Products</span></a>
                                </li>
                                <li><a href="contact.html"><span>Contact</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col">
                        <div class="header-action-area">
                            <ul class="header-action">
                                <li class="user-menu">
                                    <a class="title" href="javascript:;">@Html.Raw(setting.AccountIcon)</a>
                                    <ul class="user-dropdown">
                                        <li class="user">
                                            <ul>
                                                <li><a href="#/">Login</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="header-action">
                                <div class="header-search">
                                    <button class="search-toggle">
                                        <i class="search-icon bardy bardy-search"></i>
                                        <i class="close-icon bardy bardy-cancel"></i>
                                    </button>
                                    <div class="header-search-form">
                                        <form action="#">
                                            <input type="search" placeholder="Search our store">
                                            <button type="submit"><i class="bardy bardy-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action">
                                <div class="header-mini-cart">
                                    <button class="mini-cart-toggle">
                                        <i class="icon bardy bardy-shopping-cart"></i>
                                        <span class="number">2</span>
                                    </button>
                                    <div class="mini-cart-dropdown">
                                        <h4 class="cart-title">Your cart</h4>
                                        <div class="cart-item-wrap">
                                            <div class="cart-item">
                                                <div class="thumb">
                                                    <a href="#/"><img class="w-100" src="~/assets/img/shop/cart/mini1.jpg" alt="Image-HasTech"></a>
                                                    <a class="remove" href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title"><a href="#/">5. Simple product</a></h5>
                                                    <span>1 x Tk 50.00</span>
                                                </div>
                                            </div>
                                            <div class="cart-item">
                                                <div class="thumb">
                                                    <a href="#/"><img class="w-100" src="~/assets/img/shop/cart/mini2.jpg" alt="Image-HasTech"></a>
                                                    <a class="remove" href="javascript:void(0);"><i class="fa fa-trash-o"></i></a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title"><a href="#/">2. New badge product - m / gold</a></h5>
                                                    <span>1 x Tk 80.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mini-cart-footer">
                                            <h4>Subtotal: <span class="total">Tk 130.00</span></h4>
                                            <div class="cart-btn">
                                                <a href="shop-cart.html">View Cart</a>
                                                <a href="shop-checkout.html">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action d-block d-lg-none text-end">
                                <button class="btn-menu" type="button"><i class="zmdi zmdi-menu"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--== End Header Wrapper ==-->
        @RenderBody()
        <!--== Start Footer Area Wrapper ==-->
        <footer class="footer-area bg-color-222">
            <div class="footer-top-area">
                <div class="container">
                    <div class="footer-widget-wrap row">
                        <div class="col">
                            <!--== Start widget Item ==-->
                            <div class="widget-item">
                                <div class="footer-logo-area">
                                    <a href="index.html">
                                        <img class="logo-main" src="~/@setting.Logo" alt="Logo" />
                                    </a>
                                </div>
                                <p>People have been using natural objects, such as tree stumps, rocks and moss, as furniture since the beginning of human civilisation.</p>
                                <p>@setting.Address</p>
                                <p>@setting.Number1  / @setting.Number2</p>
                                <p>@setting.Email www.example.com</p>
                            </div>
                            <!--== End widget Item ==-->
                        </div>

                        <div class="col">
                            <!--== Start widget Item ==-->
                            <div class="widget-item">
                                <h4 class="widget-title">Quick Link</h4>
                                <div class="widget-menu-wrap">
                                    <ul class="nav-menu">
                                        <li><a href="page-search.html">Search</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="shipping-policy.html">Shipping policy</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="shop.html">All Products</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--== End widget Item ==-->
                        </div>

                        <div class="col">
                            <!--== Start widget Item ==-->
                            <div class="widget-item">
                                <h4 class="widget-title">Information</h4>
                                <div class="widget-menu-wrap">
                                    <ul class="nav-menu">
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="#/">My Account</a></li>
                                        <li><a href="#/">Terms & Conditions</a></li>
                                        <li><a href="shop-shipping-policy.html">Shipping policy</a></li>
                                        <li><a href="shop-checkout.html">Payment System</a></li>
                                        <li><a href="#/">Promotional Offers</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--== End widget Item ==-->
                        </div>

                        <div class="col">
                            <!--== Start widget Item ==-->
                            <div class="widget-item">
                                <h4 class="widget-title">Follow us</h4>
                                <div class="widget-menu-wrap">
                                    <ul class="nav-menu">
                                        <li><a href="#/">Facebook</a></li>
                                        <li><a href="#/">Twitter</a></li>
                                        <li><a href="#/">Instagram</a></li>
                                        <li><a href="#/">LinkedIn</a></li>
                                        <li><a href="#/">Google Plus</a></li>
                                        <li><a href="#/">YouTube</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--== End widget Item ==-->
                        </div>
                    </div>
                </div>
            </div>
            <!--== Start Footer Bottom ==-->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="copyright">Copyright © <a target="_blank" href="https://hasthemes.com/">Diana</a> All Right Reserved.</p>
                        </div>
                        <div class="col-lg-6">
                            <div class="payment-method">
                                <img src="~/assets/img/icons/payment.webp" alt="Image-HasTech">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--== End Footer Bottom ==-->
        </footer>
        <!--== End Footer Area Wrapper ==-->
        <!--== Scroll Top Button ==-->
        <div id="scroll-to-top" class="scroll-to-top"><span class="fa fa-angle-up"></span></div>

        <!--== Start Quick View Menu ==-->
        <aside class="product-quick-view-modal">
            <div class="product-quick-view-inner">
                <div class="product-quick-view-content">
                    <button type="button" class="btn-close">
                        <span class="close-icon"><i class="fa fa-close"></i></span>
                    </button>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="thumb">
                                <img src="~/assets/img/shop/quick-view1.jpg" alt="Alan-Shop">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="content">
                                <h4 class="title">3. Variable product</h4>
                                <div class="prices">
                                    <del class="price-old">$85.00</del>
                                    <span class="price">$70.00</span>
                                </div>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,</p>
                                <div class="quick-view-select">
                                    <div class="quick-view-select-item">
                                        <label for="forSize" class="form-label">Size:</label>
                                        <select class="form-select" id="forSize" required>
                                            <option selected value="">s</option>
                                            <option>m</option>
                                            <option>l</option>
                                            <option>xl</option>
                                        </select>
                                    </div>
                                    <div class="quick-view-select-item">
                                        <label for="forColor" class="form-label">Color:</label>
                                        <select class="form-select" id="forColor" required>
                                            <option selected value="">red</option>
                                            <option>green</option>
                                            <option>blue</option>
                                            <option>yellow</option>
                                            <option>white</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="action-top">
                                    <div class="pro-qty">
                                        <input type="text" id="quantity2" title="Quantity" value="1" />
                                    </div>
                                    <button class="btn btn-black">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-overlay"></div>
        </aside>
        <!--== End Quick View Menu ==-->
        <!--== Start Side Menu ==-->
        <aside class="off-canvas-wrapper">
            <div class="off-canvas-inner">
                <div class="off-canvas-overlay"></div>
                <!-- Start Off Canvas Content Wrapper -->
                <div class="off-canvas-content">
                    <!-- Off Canvas Header -->
                    <div class="off-canvas-header">
                        <div class="close-action">
                            <button class="btn-menu-close">menu <i class="fa fa-chevron-left"></i></button>
                        </div>
                    </div>

                    <div class="off-canvas-item">
                        <!-- Start Mobile Menu Wrapper -->
                        <div class="res-mobile-menu menu-active-one">
                            <!-- Note Content Auto Generate By Jquery From Main Menu -->
                        </div>
                        <!-- End Mobile Menu Wrapper -->
                    </div>
                </div>
                <!-- End Off Canvas Content Wrapper -->
            </div>
        </aside>
        <!--== End Side Menu ==-->
    </div>

    <!--=======================Javascript============================-->
    <!--=== jQuery Modernizr Min Js ===-->
    <script src="~/assets/js/modernizr.js"></script>
    <!--=== jQuery Min Js ===-->
    <script src="~/assets/js/jquery-main.js"></script>
    <!--=== jQuery Migration Min Js ===-->
    <script src="~/assets/js/jquery-migrate.js"></script>
    <!--=== jQuery Popper Min Js ===-->
    <script src="~/assets/js/popper.min.js"></script>
    <!--=== jQuery Bootstrap Min Js ===-->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!--=== jQuery Appear Js ===-->
    <script src="~/assets/js/jquery.appear.js"></script>
    <!--=== jQuery Headroom Min Js ===-->
    <script src="~/assets/js/headroom.min.js"></script>
    <!--=== jQuery Swiper Min Js ===-->
    <script src="~/assets/js/swiper.min.js"></script>
    <!--=== jQuery Fancybox Min Js ===-->
    <script src="~/assets/js/fancybox.min.js"></script>
    <!--=== jQuery Slick Nav Js ===-->
    <script src="~/assets/js/slicknav.js"></script>
    <!--=== jQuery Waypoint Js ===-->
    <script src="~/assets/js/waypoint.js"></script>
    <!--=== jQuery Parallax Min Js ===-->
    <script src="~/assets/js/parallax.min.js"></script>
    <!--=== jQuery Aos Min Js ===-->
    <script src="~/assets/js/aos.min.js"></script>
    <!--=== jQuery Countdown Js ===-->
    <script src="~/assets/js/countdown.js"></script>

    <!--=== jQuery Custom Js ===-->
    <script src="~/assets/js/custom.js"></script>

    @await RenderSectionAsync("scripts", false)

</body>

</html>